composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

data/
MadelineProto.log
bot*.lock
error_log
madeline.log
madeline.phar
madeline.phar.version
madeline.php
php_errors.log
session.madeline
session.madeline.lock

junk.php
test.php